:root{
    --hidden-status: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
    color: burlywood;
}

a:active {
    color: aqua;
}

a:focus {
    color: cadetblue;
}

.header {
    height: 100px;
    width: 100%;
    background-color: #81f88f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.logo {
    width: 120px;
    height: 65px;
}

.logo img {
    width: 100%;
}

.searcher {
    display: flex;
    position: relative;
}

#searcher_input {
    width: 300px;
    height: 16px;
    border: none;
    border-radius: 15px;
    padding: 16px;
}

.searcher_button {
    position: absolute;
    left: 264px;
    top: 2px;
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#searcher_input:focus {
    outline: none;
}

.login_logout {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main{
    width: 80%;
    margin:15px 10%;
    border-radius: 20px;
    background-color: #bdbaba;
}

.two_columns{
    display: grid;
    width: 100%;
    margin: 10px;
    grid-template-columns: 1fr 2fr;
}

.leftInfo ,.rightInfo{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: bisque;
    border-radius: 15px;
    margin:10px 5px;
}

.hidden{
    visibility: var(--hidden-status);
    width: 60%;
}

.doyoulike{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.leftInfo:active{
    --hidden-status:visible;
}

.star_div{
    width: 30px;
    height: 30px;
    display: flex;
    position: relative;

}

.star_div img{
    width: 100%;
    height: 100%;
    position: absolute;
}

.animationImg{
    display: none;
}

.star_div:hover .animationImg{
    display: block;
    animation: star_fill_animation 0.5s ease-in-out;
}

.bottomitems{
    display: flex;
    width: 80%;
    flex-direction: column;
}

.bottomitems h3{
    margin-bottom: 5px;
}

.work-order-table{
    width: 100%;    
    margin-top: 5px;
}

.work-order-table tr,.work-order-table th,.work-order-table td{
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px 5px; 
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #81f88f;
}


@media screen and (max-width: 768px) {
    
    .logo {
        width: min(20%, 60px);
        height: 30px;
    }

    .login_logout {
        display: none;
    }

    .ads-frame {
        width: 100%;
        height: 100%;
    }

    footer {
        height: 30px;
    }
}



@keyframes star_fill_animation {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}